.card {
	background-color: #000000;
	display: inline-block;
	width: 240px;
	height: 380px;
	text-align: center;
	padding: 5px;
}

.card {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.img-container {
	height: 230px;
	width: 200px;
	overflow: hidden;
	border-radius: 20px 20px 20px 20px;
	display: inline-block;
	background-color: #000000;
}

.img-container img {
	transform: skew(0deg, -13deg);
	width: 100%;
	height: 100%;
	align-content: center;
	margin: 0px 0px 0px 00px;
	background-color: #000000;
}

.inner-skew {
	display: inline-block;
	border-radius: 5px;
	overflow: hidden;
	padding: 0px;
	transform: skew(0deg, 8deg);
	font-size: 0px;
	margin: 0x 0px 0px 0px;
	background-color: #000000;
	height: 240px;
	width: 200px;
}

.text-container {
	padding: 103px 2px 2px 2px;
	border-radius: 20px;
	background: #fff;
	margin: -120px 0px 0px 0px;
	line-height: 16px;
	font-size: 13px;
	height: 240;
}

.text-container h3 {
	margin: 20px 0px 10px 0px;
	color: #04bcff;
	font-size: 17px;
	text-align: center;
}

.card {
	transition: transform 0.5s;
}
.card:hover {
	transform: scale(1.1);
}
