.button {
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 10px 60px;
	border-radius: 5px;
	margin: 10px 0px;
	cursor: pointer;
}

pag {
	color: #000000;
	color: rgb(0, 0, 0);
}

:root {
	/* --box-x-padding: 2rem;
	--box-y-padding: 2rem; */
	@media (min-width 40em) --box-y-padding: 2rem;
	@media (min-width 60em) --box-x-padding: 2rem;
}
section {
	/* cuadro incluye todo */
	display: grid;
	grid-template-rows: repeat(3, auto);
	grid-template-columns: 4fr 4fr 5fr;
	grid-template-areas: ". . title" "img img content" "img img .";
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	background: #000000;
}
/* El cuadro blanco que se dibuja detrás del contenido ¡Puedes colocarlo totalmente en la cuadrícula! */
section::after {
	z-index: 1;
	content: "";
	grid-column: 2/-1;
	grid-row: 1/3;
	position: relative;
	background: hsla(0, 0%, 89%, 0.412);
	box-shadow: 0 0.2em 1em rgba(73, 72, 72, 0.2); /* SOMBRA */
	background-image: -o-linear-gradient();
}

section h1 {
	/* title */
	grid-area: title;
	padding-top: var(--box-y-padding);
	padding-left: var(--box-x-padding);
	background-color: transparent;
}

.content {
	/* In*/
	z-index: 4;
	grid-area: content;
	padding-bottom: var(--box-y-padding);
	padding-left: var(--box-x-padding);
	padding-right: var(--box-x-padding);
	background-color: transparent;
}

.img {
	grid-area: img;
}

/* html {
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	background-color: whitesmoke;
} */
body {
	padding: 1em;
	background-color: #000000;
}

section h1 {
	/* name */
	z-index: 3;
	font-size: 2em;
	margin: 0 0 0rem;
	font-family: serif;
	text-align: left;
	position: relative;
	font-style: oblique;
}
section h1::afterxxx {
	/* Line deco */
	content: "";
	position: absolute;
	width: 4rem;
	background-color: rgb(78, 76, 76);
	height: 3px;
	top: 0;
	left: 0;
	@media (min-width 40em) left var(--box-x-padding) top var(--box-y-padding);
}

.content {
	/* Information and bottom: ; */

	color: #000000;
	margin-bottom: 0;
	@media (min-width 40em) margin-bottom 0;
	background-color: transparent;
}
.content p {
	/* Information */
	margin-top: 0;
	margin-bottom: var(--box-y-padding);
	line-height: 1.5;
	background-color: transparent;
	font-size: 16px;
	color: black;
}

.content a {
	/* bottom: returm */
	text-decoration: none;
	border: 1px solid #b3b3b3;
	border-radius: 1em;
	padding: 1em 2em;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.5em;
	color: inherit;
	display: inline-block;
}

.img {
	z-index: 2;
	position: relative;
}

.img a {
	position: absolute;
	left: 0;
	bottom: 0;
}

.img img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	box-shadow: 0 0.2em 1.2em rgba(47, 40, 37, 0.1);
}

.attribution {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #48ff00;
	color: rgb(30, 2, 2);
	padding: 0.5em 1em;
}

.lista {
	width: 100%;
	color: rgb(0, 0, 0);
}
.lista ul {
	text-align: left;
}
